<ng-container *ngIf="photoSrc | async as src">
  <img class="img"
       [src]="src"/>
  <ng-container *ngIf="showDetails">
    <mat-icon class="delete" (click)="onXClicked()">close</mat-icon>
    <div class="author" (click)="onAuthorClicked()">
      {{photo.userName}} {{photo.userSurname}}
    </div>
    <div class="date">
      {{photo.date | date: 'shortDate'}} {{photo.time}}
    </div>
    <div class="localization">
      {{photo.localizationUF}}
    </div>
  </ng-container>

</ng-container>
