<!--<div class="maps-container">-->
  <!--<div class="btn btn-dark btn-maps">-->
  <!--<span (click)="openMaps()" *ngIf="!isMapOpen">-->
    <!--Show dogs near your localization-->
  <!--</span>-->
    <!--<span (click)="closeMaps()" *ngIf="isMapOpen">-->
    <!--Close maps-->
  <!--</span>-->
  <!--</div>-->
  <!--<ng-container *ngIf="isMapOpen">-->
    <!--<div style="height: 300px;"-->
         <!--leaflet-->
         <!--[leafletOptions]="options">-->
      <!--<div *ngFor="let pointer of pointers$ | async"-->
           <!--[leafletLayer]="pointer">-->
      <!--</div>-->
    <!--</div>-->
  <!--</ng-container>-->
<!--</div>-->
<app-photos [photos]="photos" (photoClicked)="showModalWithPhoto($event)" (authorClicked)="seeAuthorPhotos($event)"></app-photos>

<div *ngIf="photos && photos.length === 0 ">
  There are no photos matching your filters
</div>
<app-loader *ngIf="isLoading"></app-loader>
<app-modal *ngIf="showModal" (backdropClicked)="closeModal()">
  <app-photo [photo]="photoToShow" [showDetails]="false"></app-photo>
  <div class="photo-detail">Autor: {{photoToShow.userName}} {{photoToShow.userSurname}}</div>
  <div class="photo-detail">Data: {{photoToShow.date | date:'shortDate' }} {{photoToShow.time}}</div>
  <div class="photo-localization">{{ photoToShow.localization}}</div>
  <div *ngIf="photoToShow && photoToShow.description.trim() !== ''"
       class="photo-description"
       >
    <strong>Opis: </strong> {{photoToShow.description}}
  </div>
</app-modal>


