:host {
  display: block;
  min-height: calc(100vh - 64px);
}

ngx-masonry {
  width: 100%;
  min-height: 100% !important;
}

.masonry-item {
  width: 32%;
}

@media (max-width: 500px) {
  .masonry-item {
    width: 100%;
  }
}


@media (min-width: 501px) and (max-width: 800px) {
  .masonry-item {
    width: 49%;
  }
}


